[submodule "spec"]
	path = spec
	url = https://github.com/lewagon/fullstack-challenges-04-Rails-watch-list-specs.git

[submodule "pacific-castle-26544"]
  path = pacific-castle-26544
  url = https://github.com/WilfriedW9/rails-watch-list-5
